# Test requirements are fixed in order to make CI tests less susceptible to
# dependency changes. Test dependencies should be reviewed frequently so that
# we're testing against the latest versions of our dependencies that our users
# are probably using. We recommend monitoring Libraries.io to alert for changes.

# Library Dependencies
matplotlib>=3.6.0
scipy>=1.9.0
scikit-learn>=1.1.0
numpy>=1.21.0
cycler>=0.11.0

# Testing Requirements
pytest>=7.1.0
pytest-cov>=3.0.0
pytest-flakes>=4.0.5
pytest-spec>=2.0.0
coverage>=6.4.0

# Optional Testing Dependencies
nltk>=3.7.0
# spacy>=2.0.18
pandas>=1.4.0
umap-learn>=0.5.3
numba>=0.56.0

# Third-Party Estimator Tests
# xgboost==1.2.0
# catboost==0.24.1
